# ANALYZE Total data

In [1]:
# IMPORT LIBRARY I use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Description about data and its features
Sales_Data = pd.read_csv(filepath_or_buffer="supermarket_sales.csv")
Sales_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

`This Data have 1000 rows and 17 features : 8 numberic data and 9 text data.`

In [9]:
# Drop duplicate data
Sales_Data.drop_duplicates(inplace=True)

# Numberic Features

In [20]:
# Filter features have numberic data
num_features = [fea for fea in Sales_Data.columns if isinstance(Sales_Data[fea][0],np.int64) or isinstance(Sales_Data[fea][0],np.float64)]
num_features

['Unit price',
 'Quantity',
 'Tax 5%',
 'Total',
 'cogs',
 'gross margin percentage',
 'gross income',
 'Rating']

In [21]:
# Create table have numberic data to analyze
Num_Data = Sales_Data[num_features]
Num_Data.head(5)

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,74.69,7,26.1415,548.9715,522.83,4.761905,26.1415,9.1
1,15.28,5,3.8200,80.2200,76.40,4.761905,3.8200,9.6
2,46.33,7,16.2155,340.5255,324.31,4.761905,16.2155,7.4
3,58.22,8,23.2880,489.0480,465.76,4.761905,23.2880,8.4
4,86.31,7,30.2085,634.3785,604.17,4.761905,30.2085,5.3

# Analyze string data

In [4]:
# filter feature is have string data
str_features = [fea for fea in Sales_Data.columns if isinstance(Sales_Data[fea][0],str)]
str_features

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Date',
 'Time',
 'Payment']

In [6]:
# create table string data 
Str_Data = Sales_Data[str_features]
Str_Data.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Date,Time,Payment
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,1/5/2019,13:08,Ewallet
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,3/8/2019,10:29,Cash
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,3/3/2019,13:23,Credit card
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,1/27/2019,20:33,Ewallet
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,2/8/2019,10:37,Ewallet

# TASK IN DBT

- Change data type to right type
- devide data to FACT and Cutomer , Address, Datetime, Paymnent and Product Dimesion: 
- `Customer `:Cus_ID,Customer type, Gender
- `Payment` : gross margin percentage, Payment
- `Datetime`: Date, Time
- `Address`: Add_ID, City
- `Product` : Product line , Unit price , Branch
- `ORDER` : Invoice_ID, Quantity,Tax 5%,Total,cogs,gross income, Rating